
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: white;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 50px;
  background-color: #1e1e1e;
}

.highlight {
  color: #f06292;
}

nav a {
  margin: 0 10px;
  color: #f06292;
  text-decoration: none;
}

section {
  padding: 40px 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: gray;
}
